extends index.pug

block addform
  div.formDiv
    form(action='/addsubmit')
      h1 Add a movie and a score!
      .form
        div.box 
          input.input(type='text', name='movie', placeholder='Movie')
        div.box  
          input.input(type='text', name='grade', placeholder='Score')
        div.box  
          input.input(type='text', name='url', placeholder='Image(url)')
        br
      input.button(type='submit', value='Submit')

      

