extends index.pug

block show_all_movies
    div.movies
        each Movies, i in lista
            div.movie
                h1=  Movies.Name 
                h2=  "Score: " + Movies.grade
                img.movie_img(src= Movies.Poster)